$principal: #313258;
$secundario: #1B1D3A;
$tercero: #110920;
$cuarto: #4A419A;
$botonverde: #00D977;
$botonazul: #018AFC;
$botonrojo: #FE3868;
$colortexto: #ffffff;
$celesteneon: #05C1EF;
$gris: #e0e0e0;
$gris2: #343434;
$grisOscuro: #262626;
$negro : #000000;
$negro2 : #1e1d1d;
$azulOscuro: #022438;
$verdef: #1B291B;
$celesef: #14C492;
$yellowGreen: yellowgreen;
$ligthsalmon: lightsalmon;
$celestesuave: #dfe4ea;
$fondorosado: #fef0f4;
/*POSIBLES NUEVOS COLORES*/
$back1: #22293F;
$back2: #20293F;
$back3: #1A2035;
$back4: #151E21;
$rosado: #E4316F;
$verdeOpcado: #5DB461;
$oro: #FFD700;
/*************************/
$fuentePrincipal: 'Lato', sans-serif;