.contenedord {
    margin: 2vh .5vw 2vh 1.5vw;
    border-radius: 1vh;
    display: grid;
    grid-template-rows: 7% 93%;
}

.titulo, .informacion {
    background-color: $negro2;
    border-radius: 1vh;
}

.titulo {
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    h4 {
        text-align: left;
        justify-content: center;
        color: $colortexto;
    }
}

.informacion {
    margin-top: 2vh;
    padding: 1.5vh 1vw;
    display: grid;

    .tabla {
        margin-top: 2vh;
        max-height: 70vh;

        overflow: auto;

        @include scroll($gris, $rosado);

        &::-webkit-scrollbar:horizontal {
            height: .7rem;
        }
    }
}

.funciones-profesor {
    color: $colortexto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        display: flex;
        align-items: center;
    }
}