/*---------------------------------------------------------------------*/
/*------------------------Mensaje Profesor-----------------------------*/
/*---------------------------------------------------------------------*/
.mensaje {
    textarea {
        height: 48vh;
        resize: none;

        @include scroll($gris, $rosado);
    }

    .boton-verde-radio-inline {
        padding: 1vh 3vw;
    }
}

/*---------------------------------------------------------------------*/
/*--------------------Mensaje TUTOR DEL ESTUDIANTE---------------------*/
/*---------------------------------------------------------------------*/

.mensaje-tutor {
    .seleccion-profesor {
        margin: 1.5vh 0 .5vh 0;

        select {
            margin: 0 2vh;
        }
    }
}