.list-cursos {

    &::-webkit-scrollbar{
        background: $negro2;
        width: .7rem;
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-thumb{
        background: $gris;
        border-radius: .5rem;
        &:hover , &:active {
            background: $rosado;
        }
    }
    
    padding: 1vh .5vw;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    color: $colortexto;
    height: 75vh;

    @media (max-width: 1100px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.card-curso {
    height: 15vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    border: .2rem solid $rosado;
    padding: .5vh .5vw;

    img {
        filter: invert(100%);
    }

    @media (max-width: 1100px) {
        height: max-content;
    }
}